<!--
  Generated template for the Registro page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
  <ion-card-header>
    Usuario: erpachecomo
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]='RegisterForm' (ngSubmit)='register()'>
        <ion-list no-lines>
             <ion-item>
                   <ion-label floating>Nombre</ion-label>               
                   <ion-input (keyup)='updateRFC($event)' type="text" formControlName='name'></ion-input>
             </ion-item>
                   <p *ngIf='name.hasError("required") && name.touched'>Campo requerido</p>
             <ion-item>
                   <ion-label floating>Apellido Paterno</ion-label>               
                   <ion-input type="text" (keyup)='updateRFC($event)' formControlName='lastname'></ion-input>
             </ion-item>
                   <p *ngIf='lastname.hasError("required") && lastname.touched'>Campo requerido</p>
             <ion-item>
                   <ion-label floating>Apellido Materno</ion-label>               
                   <ion-input type="text" formControlName='lastname2' (keyup)='updateRFC($event)'></ion-input>
             </ion-item>
                   <p *ngIf='lastname2.hasError("required") && lastname2.touched'>Campo requerido</p>
            <ion-item>
                   <ion-label floating>Fecha de nacimiento</ion-label>               
                   <ion-input type="text" formControlName='birth' (keyup)='updateRFC($event)'></ion-input>
             </ion-item>
                   <p *ngIf='birth.hasError("pattern") && birth.touched'>Formato incorrecto. Debe ser AAAA/MM/dd</p>
            <ion-item>
                   <ion-label stacked>RFC</ion-label>               
                   <ion-input formControlName='rfc' readonly type="text"></ion-input>
             </ion-item>
        </ion-list>
      
        <button block ion-button type="submit" [disabled]='!RegisterForm.valid'>Continuar</button>
        </form>
  </ion-card-content>
</ion-card>
</ion-content>
